<header class="header">
    <img src="/images/logo2.png" class="logo" width="200">
    <input type="text" class="buscador">
    <div class="opciones-header">
        <a href="#" class="opcion-header">Años</a>
        <a href="#" class="opcion-header">Especialidades</a>
        <a href="#" class="opcion-header">Mi Perfil</a>
    </div>
</header>