<header class="header">
    <a href="#" class="logo">ResumORT</a>
    <input type="text" class="buscador">
    <div class="opciones-header">
        <a href="#" class="opcion-header">Años</a>
        <a href="#" class="opcion-header">Especialidades</a>
        <a href="#" class="opcion-header">Mi Perfil</a>
    </div>
</header>