<header class="hedaer">
    <h3 class="logo">ResumORT</h3>
    <input type="text">
    <div class="opciones-header">
        <p class="opcion-header">Años</p>
        <p class="opcion-header">Especialidades</p>
        <p class="opcion-header">Mi Perfil</p>
    </div>
</header>